services:
  user-service:
    build: .
    container_name: user-ms
    ports:
      - "8080:8080"
    networks:
      - ecommerce-net
    depends_on:
      user-postgres:
        condition: service_healthy
      user-rabbitmq:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://user-postgres:5432/user_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_RABBITMQ_HOST: user-rabbitmq
      SPRING_RABBITMQ_PORT: 5672

  user-postgres:
    image: postgres:15-alpine
    container_name: user-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: user_db
    ports:
      - "5433:5432"
    volumes:
      - user-postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ecommerce-net

  user-rabbitmq:
    image: rabbitmq:3-management
    container_name: user-rabbitmq
    restart: always
    ports:
      - "5673:5672"
      - "15673:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    external: true         # <--- Diz: "Não crie, use a que já existe"
    name: ecommerce-network # <--- Tem que ser O MESMO nome definido no Product

volumes:
  user-postgres-data: